<!-- Sidebar -->
<div class="sidebar">
    <ul class="sidebar-menu">
        <li class="sidebar-menu-item">
            <a href="{{ url_for('admin_dashboard') }}" {% if active_page=='admin_dashboard' %}class="active" {% endif %}>
                <i class="fa-solid fa-chart-simple"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a href="#">
                <i class="fas fa-box"></i>
                <span>Products</span>
            </a>
            <ul class="sidebar-submenu" {% if active_page in ['admin_view_products', 'admin_product_upload_approval' ] %}style="display: block;" {% endif %}>
                <li>
                    <a href="{{ url_for('admin_view_products') }}" {% if active_page=='admin_view_products' %}class="active" {% endif %}>View</a>
                </li>
                <li>
                    <a href="{{ url_for('admin_product_upload_approval') }}" {% if active_page=='admin_product_upload_approval' %}class="active" {% endif %}>Upload Request</a>
                </li>
            </ul>
        </li>
        <li class="sidebar-menu-item">
            <a href="{{ url_for('user_management') }}" {% if active_page=='user_management' %}class="active" {% endif %}>
                <i class="fa-solid fa-users-gear"></i>
                <span>User Management</span>
            </a>
        </li>
        <li class="sidebar-menu-item">
            <a href="{{ url_for('order_management') }}" {% if active_page=='order_management' %}class="active" {% endif %}>
                <i class="fas fa-shopping-bag"></i>
                <span>Order Management</span>
            </a>
        </li>
        <!-- <li class="sidebar-menu-item">
            <a href="{{ url_for('manage_feedback') }}" {% if active_page=='manage_feedback' %}class="active" {% endif %}>
                <i class="fa-solid fa-star-half-stroke"></i>
                <span>Manage Feedback</span>
            </a>
        </li> -->
        
        <li class="sidebar-menu-item">
            <a href="{{ url_for('admin_profile', username=current_user.username) }}" {% if active_page=='admin_profile' %}class="active" {% endif %}>
                <i class="fas fa-user"></i>
                <span>My Profile</span>
            </a>
        </li>
        




        <!-- <li class="sidebar-menu-item">
            <a href="{{ url_for('account_profile') }}" {% if active_page=='profile' %}class="active" {% endif %}>
                <i class="fas fa-user"></i>
                <span>admin - My Profile</span>
            </a>
        </li> -->
        <!-- <li class="sidebar-menu-item">
            <a href="#">
                <i class="fas fa-box"></i>
                <span>My Products</span>
            </a>
            <ul class="sidebar-submenu" {% if active_page in ['listings', 'sold' ] %}style="display: block;" {% endif
                %}>
                <li><a href="{{ url_for('account_listings') }}" {% if active_page=='listings' %}class="active" {% endif
                        %}>My Listings</a></li>
                <li><a href="{{ url_for('account_sold') }}" {% if active_page=='sold' %}class="active" {% endif %}>My
                        Sold Items</a></li>
            </ul>
        </li> -->
        <!-- <li class="sidebar-menu-item">
            <a href="{{ url_for('account_favorites') }}" {% if active_page=='favorites' %}class="active" {% endif %}>
                <i class="fas fa-heart"></i>
                <span>Favorites</span>
            </a>
        </li> -->
        <!-- <li class="sidebar-menu-item">
            <a href="{{ url_for('account_orders') }}" {% if active_page=='orders' %}class="active" {% endif %}>
                <i class="fas fa-shopping-bag"></i>
                <span>My Orders</span>
            </a>
        </li> -->
        <!-- <li class="sidebar-menu-item">
            <a href="{{ url_for('account_settings') }}" {% if active_page=='settings' %}class="active" {% endif %}>
                <i class="fas fa-cog"></i>
                <span>Account Settings</span>
            </a>
        </li> -->
    </ul>
</div>